body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7fff7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2b9348;
}

label {
    color: #2b9348;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #2b9348;
    border-radius: 5px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.button {
    background: #2b9348;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background: #206a37;
}